@keyframes animateBars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: .9;}
}

@keyframes scaleOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

