// Base: contained within this file are all your resets, variables, mixins, and any utility classes.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,200;1,500&family=Varela+Round&display=swap');

/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}


/* colors */
/* $color-primary: #1b3467;
$color-blue: #3e29ef;
$color-blue-dark: #211B7A;
$color-gray-light: #e4e1dd;
$color-gray: #4a4a4a;
$color-orange: #ffaf1c;
$color-orange-dark: #b47500; */

$color-primary: #1b3467;
$color-primary-light: #3e29ef;
$color-primary-dark: #211B7A;
$color-secondary: #e4e1dd;
$color-secondary-dark: #4a4a4a;
$color-tertiary: #ffaf1c;
$color-tertiary-dark: #b47500;


/* font sizes */
$font-lg: 4rem;
$font-bg: 3.2rem;
$font-md: 2.2rem;
$font-sm: 1.6rem;
$font-xs: 1.2rem;

$font-title: 'Montserrat', sans-serif;
$font-para: 'Varela Round', sans-serif;

.text {
  &--title {
    font-family: $font-title;
    font-size: $font-bg;
  }

  &--para {
    font-family: $font-para;
    font-size: $font-sm;
  }

  &--item {
    font-family: $font-para;
    font-size: $font-xs;
  }
}



