/////////////////////////////////////////////////////////////////////
/* Section Header */
/////////////////////////////////////////////////////////////////////
.header {
  background: url(../img/bg-header.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  
  align-items: stretch;

  &__logo {
    font-size: $font-md;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 2rem;
  }

  &__menu {
    grid-column: 1/13;
    grid-row: 1/2;
    justify-self: center;
    margin-top: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__link {padding: 0 2rem;}

  &__btn {
    grid-column: 10/12;
    grid-row: 1/2;
    justify-self: end;
    margin-top: 1rem;

    & i {
      font-size: 2rem;
      transform: translateX(-50%);
    }

    &--menu {display: none;}
  }

  &__heading {
    grid-column: 2/8;
    grid-row: 3/6;
    align-self: center;
  }

  &__title {
    margin-bottom: 1rem;
    letter-spacing: 0.15rem;
    font-size: $font-lg;
  }

  &__para {
    width: 70%;
    margin-bottom: 2rem;
    font-weight: lighter;
  }
}


/////////////////////////////////////////////////////////////////////
/* Section Dangers */
/////////////////////////////////////////////////////////////////////
.dangers {
  background: linear-gradient(45deg, rgba($color-secondary, 0.95) 5%, rgba($color-secondary, 0.9) 100%), url(../img/bg-dangers.jpeg) center no-repeat;
  background-size: cover;
  height: 80rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $color-secondary-dark;
  padding: 0 8.34rem;

  &__descr, &__diagram {
    width: 50%;
    height: 50%;
  }

  &__diagram {background-color: rgb(152, 152, 255);}

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--descr-1 {padding-right: 3rem;}

    &--descr-2 {padding-left: 3rem}
  }

  &__title {
    margin: 0 0 1rem 0;
    letter-spacing: 0.1rem;
  }

  &__para {margin-bottom: 1rem;}
}


/////////////////////////////////////////////////////////////////////
/* Section Offer */
/////////////////////////////////////////////////////////////////////
.offer {
  background: linear-gradient(45deg, rgba($color-primary, 0.95) 5%, rgba($color-primary, 0.9) 100%), url(../img/bg-offer.jpeg) center no-repeat;
  background-size: cover;
  height: 80rem;
  width: 100%;
  overflow: hidden;
  color: $color-secondary;
  padding: 0 8.34rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__heading {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__para {
    width: 40%;
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 2rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 70%;
      height: 100%;
      bottom: 0;
      left: 15%;
      border-bottom: 1px solid $color-tertiary;
    }
  }

  &__offers {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
  }

  &__area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__card-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: $font-sm;
  }

  &__card {
    height: 36rem;
    width: 22rem;
    background-color: $color-secondary;
    color: $color-secondary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
  }

  &__pic img {
    height: 100%;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  &__item {
    list-style: none;
    padding-left: 1.5rem;
    background-image: url('../img/checkmark.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1rem;
    color: $color-secondary-dark;
    line-height: 160%;
  }

  &__price {
    margin-bottom: 1rem;
    font-weight: 300;
  }

  &__btn {
    margin-top: 2rem;

    & i {
      transform: translateX(-50%);
      font-size: 2.2rem;
      color: $color-secondary;
    }
  }

  &__link {margin-top: 1rem;}
}


/////////////////////////////////////////////////////////////////////
/* Section Testimonials */
/////////////////////////////////////////////////////////////////////
.testimonials {
  background: linear-gradient(45deg, rgba($color-secondary, 0.95) 5%, rgba($color-secondary, 0.9) 100%), url(../img/bg-testimonials.jpeg) center no-repeat;
  background-size: cover;
  height: 80rem;
  width: 100%;
  overflow: hidden;
  color: $color-secondary-dark;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);

  &__cards {
    grid-column: 2/8;
    grid-row: 2/6;

    background-color: $color-secondary;
  }

  /* cards */
  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;


    &--card-1, &--card-2, &--card-3 {display: none;}
  }

  &__mark {
    margin-bottom: 2rem;

    & i {
      font-size: 8rem;
      color: lighten($color-secondary-dark, 40%);
    }
  }

  &__quote {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
  }

  &__pic {
    background-color: black;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }

  &__name {margin-top: 2rem;}

  &__text {
    grid-column: 9/12;
    grid-row: 2/6;

    color: $color-secondary-dark;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    margin-top: 1rem;
    align-self: flex-start;
  }

  &__num {
    color: $color-tertiary-dark;

    &--num-1 {font-weight: 500;}
  }
}


/////////////////////////////////////////////////////////////////////
/* Footer */
/////////////////////////////////////////////////////////////////////
.footer {
  background-color: $color-primary;
  height: 40rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  &__logo {
    grid-column: 2/4;
    grid-row: 1/4;

    justify-self: left;

    & a {
      font-size: 2.4rem;
      letter-spacing: 0.3rem;
    }
  }

  &__menu {
    grid-column: 4/9;
    grid-row: 2/4;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__group {
    list-style-type: none;
    text-align: center;
  }

  &__item {
    letter-spacing: 0.1rem;

    &--group-title {
      color: $color-tertiary;
      margin-bottom: 1rem;
    }
  }

  &__contact {
    grid-column: 10/12;
    grid-row: 2/5;

    justify-self: center;

    & > * {color: $color-secondary;}
  }

  &__title {
    color: $color-tertiary;
    margin-bottom: 1rem;
    letter-spacing: 0.25rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item-con{padding: .5rem 0;}

  &__item-con:first-child::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f879";
    font-weight: 900;
    display: inline-block;
    margin-left: -3rem;
    width: 3rem;
  }

  &__item-con:nth-child(2)::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f879";
    font-weight: 900;
    display: inline-block;
    margin-left: -3rem;
    width: 3rem;
  }

  &__item-con:nth-child(3)::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f0e0";
    font-weight: 900;
    display: inline-block;
    margin-left: -3rem;
    width: 3rem;
  }

  &__item-con:nth-child(4)::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f015";
    font-weight: 900;
    display: inline-block;
    margin-left: -3rem;
    width: 3rem;
  }

  &__last {
    height: 100%;
    grid-column: 2/12;
    grid-row: 5/7;
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-secondary;
  }

  &__social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__item-soc {
    padding-right: 1rem;

    & i {
      font-size: $font-lg * 1.5;
      color: $color-secondary;
      margin-right: 1rem;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.5s ease;
    }
  }

  &__copy {
    color: $color-secondary;
    align-self: center;
    margin-right: 1rem;
  }
}



