//////////////////////////////////////////////////////////////////////
/* Extra large devices (1510px and up) */
//////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
    background-color: #1b3467;
  }

  .text--title {
    font-size: $font-lg;
  }

  .text--para {
    font-size: $font-md;
  }
}


//////////////////////////////////////////////////////////////////////
/* Extra large devices (large laptops and desktops, 1200px and up) */
//////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////
/* Large devices (laptops/desktops, 992px and up) */
/////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////
/* Medium devices (landscape tablets, 768px and up) */
/////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////
/* Small devices (portrait tablets and large phones, 600px and up) */
/////////////////////////////////////////////////////////////////////
