//////////////////////////////////////////////////////////////////////
/* (1510px and up) */
//////////////////////////////////////////////////////////////////////
@media screen and (min-width: 1500px) {
  body {
    width: 1400px;
    margin: 0 auto;
    background-color: #1b3467;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    &__logo { font-size: $font-bg;}
    &__link {font-size: $font-md;}
    &__title {font-size: $font-lg * 1.25;}
    &__para {font-size: $font-md;}
  }

  .dangers {margin-top: 100vh;}
}


/////////////////////////////////////////////////////////////////////
/* (768 - 992px) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-width: 992px) {
  .header {
    &__heading {
      grid-column: 2/10;
      grid-row: 3/7;
      align-self: center;
    }
  
    &__title {
      margin-bottom: 1rem;
      letter-spacing: 0.15rem;
      font-size: $font-bg;
    }
  
    &__para {
      width: 70%;
      margin-bottom: 2rem;
      font-weight: lighter;
    }
  }

  .dangers {
    height: 100%;
    padding: 0;
    flex-direction: column;

    & > * {
      height: 100%;
      width: 100%;
    }

    &__descr {
      padding: 2rem 7.5%;
      text-align: center;
      
      &--descr-1 {order: 1;}
      &--descr-2 {order: 3;}
    }

    &__diagram {
      &--diagram-1 {order: 2;}
      &--diagram-2 {order: 4;}
    }
  }

  .offer {
    padding: 0;
    &__arrow {display: none;}
    &__para {width: 50%;}
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;

    &__card {
      height: 100%;
      width: 80vw;
      padding: 2.5rem 5rem;
    }

    &__text {
      width: 80vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 5rem;
    }

    &__title {
      align-self: center;
      margin: 2rem 0 -2rem 0;
    }

    &__num {
      font-weight: bolder;
      font-size: $font-md;
    }
  }

  .footer {
    &__logo {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-self: center;
  
      & a {font-size: $font-sm;}
    }

    &__menu {
      grid-column: 2/8;
      grid-row: 2/4;
    }
  }
}


/////////////////////////////////////////////////////////////////////
/* (601px - 767px) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-width: 767px) {
  .text {
    &--title {
      font-family: $font-title;
      font-size: $font-md;
    }
  
    &--para {
      font-family: $font-para;
      font-size: $font-sm * 0.8;
    }
  }

  .link {font-size: $font-sm * 0.8;}

  .header {
    &__logo {
      grid-column: 1/3;
      margin-top: 2.5rem;
      margin-left: 25%;
    }

    &__link {
      padding: 0 1rem; 
      font-size: $font-sm * 0.9;
    }

    &__btn {
      grid-column: 10/13;
      justify-self: center;
    }
  }

  .offer {
    height: 70rem;

    &__arrow { display: none;}

    &__card {
      height: 30rem;
      width: 18rem;
    }

    &__item {font-size: $font-xs * 0.95;}
  }

  .testimonials {
    height: 70rem;

    &__mark i {font-size: 6rem;}
    &__title {margin: 1rem 0 -1rem 0;}
    &__num {font-size: $font-sm;}
  }

  .footer {height: 38rem;}
}


/////////////////////////////////////////////////////////////////////
/* Below 600px ) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-width: 600px) {
  .header {
    background-position: center right -15rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0;
    padding: 0;
    position: relative;

    &__logo {
      grid-column: 1/4;
      grid-row: 1/3;
      
      justify-self: center;
      align-self: center;
      margin: 0;
    }

    &__menu, &__btn--chat {display: none;}

    &__menu--mobile-show {
      width: 100%;
      height: 100%;
      margin-top: 0;
      grid-column: 1/-1;
      grid-row: 1/-1;
      z-index: 10;
      display: flex;
      flex-direction: column;
      // background: rgba(0, 0, 0, 0.95);
    }

    &__overlay-show {
      width: 100%;
      height: 100vh;
      margin-top: 0;
      grid-column: 1/-1;
      grid-row: 1/-1;
      position: absolute;
      z-index: -1;
      background: rgba(0, 0, 0, 0.95);
      animation: scaleOverlay .5s ease-in-out both;
      overflow-y: hidden;
    }

    &__list--mobile-show {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation: fadeIn 1s ease-in-out ;

      & > * > * {
        font-size: $font-md;
        line-height: 175%;
      }
    }

    &__btn--mobile-chat {
      display: block;
      grid-column: 1/-1;
      grid-row: 8/9;
      z-index: 20;

      align-self: center;
      justify-self: center;
    }

    &__btn--menu {
      display: block;
      grid-column: 5/7;
      grid-row: 1/3;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;

      justify-self: center;
      align-self: center;
      z-index: 20;
    }

    &__btn--close {
      & :first-child {
        & :nth-child(1) {transform: rotate(45deg) translate(.5rem, .5rem);}
        & :nth-child(2) {opacity: 0;}
        & :nth-child(3) {transform: rotate(-45deg) translate(.7rem,-.6rem);}
      }
    }

    &__heading {
      grid-column: 1/-1;
      grid-row: 7/12;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-size: $font-bg;
      width: 80%;
      text-align: center;
    }

    &__para {
      padding: 0 .5rem;
      font-size: $font-sm;
      line-height: 110%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .offer {
    padding: 3rem 0;
    &__arrow {display: block;}
    &__area {
      animation: fadeIn 1s ease-in-out;
      &--area-adv, &--area-pro {display: none;}
    }

    &__btn {
      width: 18rem;

      & :after {left: -4rem;}
    }

  }
  
  .testimonials {
    height: 74rem;

    &__card {
      width: 90vw;
      padding: 2.5rem
    }

    &__text {width: 90vw;}
    &__title {margin: 2.5rem 0 1rem 0;}
    &__para {margin-bottom: .5rem;}
  }

  /* footer */
  .footer {
    height: 100%;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {display: none;}
    &__menu {display: none;}
    &__contact {margin-left: 10%;}

    &__last {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      margin-top: 1rem;
    }

    &__item-soc {
      padding: 0;

      & i {
        font-size: $font-lg * 1.2;
        margin: 0 1rem 1rem;
      }
    }
  }
}


/////////////////////////////////////////////////////////////////////
/* For iPhone 5/SE horizontal ) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-height: 321px){
  .header {
    background-size: cover;
    background-position: center right;

    &__logo {
      grid-column: 1/3;
      grid-row: 1/4;
      align-self: center;
      justify-self: center;
    }

    &__btn--menu {
      grid-column: 6/7;
      grid-row: 1/4;
    }

    &__menu--mobile {
      width: 100vw;
      height: 100vh;
      grid-column: 1/-1;
      grid-row: 1/-1;
      z-index: 10;
      display: flex;
      flex-direction: row;
      background: rgba(0, 0, 0, 0.95);
      position: relative;
      margin-top: 0;
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 5rem;
        top: -5rem;
        left: 0;
        background: black;
      }
    }

    &__list--mobile {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;

      & > * > * {
        font-size: $font-md;
        line-height: 175%;
      }
    }

    &__heading {
      grid-column: 1/6;
      grid-row: 6/13;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 10%;
    }
  
    &__title {
      letter-spacing: 0.15rem;
      font-size: $font-md;
      text-align: left;
    }
  
    &__para {
      text-align: left;
      width: 80%;
      font-size: $font-sm * .8;
      font-weight: lighter;
      padding: 0;
    }
  }
}


/////////////////////////////////////////////////////////////////////
/* For Galaxy Fold horizontal ) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-height: 280px){
  .header {
    &__logo {
      grid-row: 1/2;
      margin: 1rem 0 0 6rem;
    }

    &__heading {
      grid-row: 4/6;
      grid-column: 1/9;
    }

    &__para {
      margin-bottom: 0;
    }
  }
}

/////////////////////////////////////////////////////////////////////
/* For Galaxy Fold vertical ) */
/////////////////////////////////////////////////////////////////////
@media screen and (max-width: 280px) {
  .header {
    &__logo {
      grid-column: 1/4;
      margin-left: 2rem;
    }

    &__para {width: 100%;}
  }

  .dangers__descr {padding: 2rem 1.3rem;}
  .offer__para {width: 90%;}
  .testimonials {height: 80rem;}
  .footer__copy {margin-right: 0;}
}